<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataFusionDB</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script>
      function redireccionar_query() {
        const consulta = document.getElementById("queries").value;
        if (consulta.trim().toUpperCase().startsWith("CREATE")) {
          console.log("Consulta CREATE");
          manejarConsultaCreate();
          return; // Salimos de la función actual
        } else if (consulta.trim().toUpperCase().startsWith("SELECT")) {
          console.log("Consulta SELECT");
          manejarConsultaSelect();
          return; // Salimos de la función actual
        }
        // si consulta empieza con SET
        else if (consulta.trim().toUpperCase().startsWith("SET")) {
          console.log("Consulta SET");
          manejarConsultaSet();
          return; // Salimos de la función actual
        } else if (consulta.trim().toUpperCase().startsWith("INSERT")) {
          console.log("Consulta INSERT");
          manejarConsultaInsert();
          return; // Salimos de la función actual
        } else if (consulta.trim().toUpperCase().startsWith("DELETE")) {
          console.log("Consulta DELETE");
          manejarConsultaDelete();
          return; // Salimos de la función actual
        } else {
          console.log("Consulta no soportada");
          document.getElementById("resultadoConsultaTexto").innerText =
            "Consulta no soportada";
        }
      }
      async function manejarConsultaSet() {
        const consulta = document.getElementById("queries").value;
        const response = await fetch("http://localhost:5000/set_table", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ query: consulta }),
        });
        const result = await response.json();
        document.getElementById("resultadoConsultaTexto").innerText =
          "Resultado: " + result.resultado;
      }
      async function manejarConsultaCreate() {
        console.log("uwu");
        const consulta = document.getElementById("queries").value;
        const response = await fetch("http://localhost:5000/query_create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ query: consulta }),
        });
        const result = await response.json();
        console.log(result);
        document.getElementById("resultadoConsultaTexto").innerText =
          "Resultado: " + result.resultado;
      }

      async function manejarConsultaSelect() {
        const consulta = document.getElementById("queries").value;
        const response = await fetch("http://localhost:5000/query_select", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ query: consulta }),
        });
        const result = await response.json();
        location.reload();
      }
      async function manejarConsultaInsert() {
        const consulta = document.getElementById("queries").value;
        const response = await fetch("http://localhost:5000/query_insert", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ query: consulta }),
        });
        const result = await response.json();
        document.getElementById("resultadoConsultaTexto").innerText =
          "Resultado: " + result.resultado;
      }
      async function manejarConsultaDelete() {
        const consulta = document.getElementById("queries").value;
        const response = await fetch("http://localhost:5000/query_delete", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ query: consulta }),
        });
        const result = await response.json();
        document.getElementById("resultadoConsultaTexto").innerText =
          "Resultado: " + result.resultado;
      }
    </script>
  </head>
  <body>
    <div class="header">
      <h1>DataFusionDB</h1>
      <h2>AVL, Sequential File, Extendible Hashing</h2>
    </div>

    <div id="big-container">
      <div id="databases">
        <div class="table-name-container">
          <img src="../static/table-icon.png" alt="table icon" />
          <p class="table-name">Playstore</p>
        </div>
        <ul class="table-attributes">
          <li>App_name</li>
          <li>App_id</li>
          <li>category</li>
          <li>rating</li>
          <li>rating_count</li>
          <li>installs</li>
          <li>minimum_installs</li>
          <li>maximum_installs</li>
          <li>free</li>
          <li>price</li>
          <li>currency</li>
          <li>size</li>
        </ul>
        <div class="table-name-container">
          <img src="../static/table-icon.png" alt="table icon" />
          <p class="table-name">Youtube</p>
        </div>
        <ul class="table-attributes">
          <li>key</li>
          <li>title</li>
          <li>channel_title</li>
          <li>views</li>
          <li>likes</li>
          <li>dislikes</li>
          <li>comment_count</li>
        </ul>
      </div>
      <div id="query-container">
        <form
          action="/"
          method="post"
          onsubmit="event.preventDefault(); redireccionar_query();"
        >
          <textarea id="queries" name="queries">{{last_query}}</textarea>
          <button type="submit">Enviar Consulta</button>
        </form>
      </div>
    </div>

    <div id="response-container">
      <table>
        {% if table == "playstore" %}
        <tr>
          <th>Key</th>
          <th>App_name</th>
          <th>category</th>
          <th>rating</th>
          <th>rating_count</th>
          <th>installs</th>
          <th>minimum_installs</th>
          <th>maximum_installs</th>
          <th>free</th>
          <th>price</th>
          <th>currency</th>
          <th>size</th>
        </tr>
        {% for a in applications %}
        <tr>
          <td>{{ a.key }}</td>
          <td>{{ a.app_name }}</td>
          <td>{{ a.category }}</td>
          <td>{{ a.rating }}</td>
          <td>{{ a.rating_count }}</td>
          <td>{{ a.installs }}</td>
          <td>{{ a.minimum_installs }}</td>
          <td>{{ a.maximum_installs }}</td>
          <td>{{ a.free }}</td>
          <td>{{ a.price }}</td>
          <td>{{ a.currency }}</td>
          <td>{{ a.size }}</td>
        </tr>
        {% endfor %} {% elif table == "youtube" %}
        <tr>
          <th>key</th>
          <th>title</th>
          <th>channel_title</th>
          <th>views</th>
          <th>likes</th>
          <th>dislikes</th>
          <th>comment_count</th>
        </tr>
        {% for a in applications %}
        <tr>
          <td>{{ a.key }}</td>
          <td>{{ a.title }}</td>
          <td>{{ a.channel_title }}</td>
          <td>{{ a.views }}</td>
          <td>{{ a.likes }}</td>
          <td>{{ a.dislikes }}</td>
          <td>{{ a.comment_count }}</td>
        </tr>
        {% endfor %} {%endif%}
      </table>
    </div>
    <p id="resultadoConsultaTexto"></p>

    <div id="footer">
      <p class="footer-content">Table {{table}}</p>
      <p>-</p>
      <p class="footer-content">{{rows}} filas</p>
    </div>
  </body>
</html>
